.custom-navbar {
    padding: 0;
  }
  
  .custom-text {
    color: rgb(225, 71, 97) !important;
    transition: color 0.3s;
  }
  
  .custom-text:hover {
    color: pink !important; /* Ash color */
  }
  