@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  position: relative;
  height: 100%;
}
#app {
    height: 100%;
  } */
body{
    background-color: #FFFFFF;
    overflow-x: hidden;
}

  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
  }
  .swiperImg{
    display: block;
    width: 350px;
    height: 400px;
    object-fit: cover;
  }
  .swiper-pagination-bullet {
    background-color: #F520C3; /* Tailwind 'blue-500' equivalent */
  }
  
  .swiper-pagination-bullet-active {
    background-color: #f048c9; /* Tailwind 'blue-700' equivalent */
  }
  