.swiper {
    width: 100%;
  
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #EEEEEE;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiperrImg{
    display: block;
    width: 350px;
    height: 200px;
    margin: 7px 0;
    object-fit: cover;
  }

  